.page-layout{
    text-align: center;
    margin-left: 15%;
}
.page-layout h1{
    margin: 0;
    padding-top: 3%;
}
.page-layout a{
    text-decoration: none;
    color: #2b2b2b;
}
.page-layout a:hover{
    color: #6b3e3e;
}
.page-layout h2{
    text-decoration: underline;
}
.resume-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    text-align: center;
}

.resume-container{
    display: flex;
}
.resume-list{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: left;
}

.resume-list li{
    list-style: none;
    margin-bottom: 5%;
}

.resume-item h4{
    text-align: center;
    border: 3px solid #6b3e3e;
    border-radius: 5px;
    width: 15%;
    padding: 2px;
    color: #6b3e3e;
    background-color: #d3c6c6;
}

.resume-item h3{
    color: #2b2b2b;
}

.resume-item h5{
    color: #6b3e3e;
}

.resume-item p{
    color: #2b2b2b;
}

#string{
    width: 20%;
}
.proficiencies{
    margin-left: 20%;
}
.coding-skills{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: left;
}
.coding-skills li{
    font-style: italic;
    color: #6b3e3e;
    list-style: none;
    margin-bottom: 5%;
    font-weight: 600;
}
.knowledge{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    text-align: center;
}

.knowledge li{
    list-style: none;
    text-align: center; 
    background-color: #6b3e3e;
    color: white;
    padding: 5px;
    margin: 5px;
    font-size: .8rem;
    border-radius: 5px;
}
.silent-hill-hr {
    border: none;
    height: 5px;
    background: linear-gradient(to right, #6b3e3e, #490f0f);
    position: relative;
    margin: 30px 0;
}

.silent-hill-hr::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #490f0f;
    border-radius: 50%;
    box-shadow: 
        -15px 10px 0 -2px #6b3e3e,
        10px 15px 0 -3px #490f0f,
        -5px 20px 0 -4px #6b3e3e;
}


@media (max-width: 834px) {
    .page-layout{
        margin: 0;
    }
    .resume-page{
        width: 95%;
        margin-left: 5%;
    }
}
@media (max-width: 760px){
    .page-layout{
        margin: 0;
    }
    .resume-page{
        width: 100%;
        margin: 0;
    }
    .resume-container{
        flex-direction: column;
    }
    .resume-list{
        width: 100%;
        text-align: center;
    }
    .resume-list ul{
        margin: 0;
        padding: 0;
    }
    .proficiencies{
        margin: 0;
        text-align: center;
    }
    .coding-skills{
        width: 100%;
        text-align: center;
    }
    .knowledge{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
}