@font-face{
    font-family: 'oldtype';
    src: url('../../../fonts/Old\ Typewriter2.0.ttf') format('opentype');
}

.home-page{
    position: relative;
    top: 0;
    left: -60px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b0b1b4;    
}

.aboutme-preview{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
}
.aboutme-preview h1{
    text-transform: uppercase;
    font-size: 2rem;
    text-align: left;
    color: #e8e8e6;
}
.aboutme-preview h3{
    font-size: 1.5rem;
    text-align: left;
    margin: 0;
    color: #3A3A3A;
}
.aboutme-preview p{
    font-size: 1rem;
    text-align: left;
}

.aboutme-preview button{
    border-radius: 0px;
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: underline;
    background-color: #4e5c6a;
    color: #e8e8e6;
}

.aboutme-preview button:hover{
    background-color: #6d7055;
}
.aboutme-preview img{
    width: 150px;
    border-radius: 100px;
    background-color: #6d7055;
    margin-right: 30px;
    margin-left: 30px;
}


.mia img{
    width: 60%;
    height: auto;
}
.intro-card{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 320px;
    background-color: #d2c8b3;
    border-radius: 10px;
    padding: 30px 20px;
    color: #3A3A3A;
    width: 40%;
}

.intro-card h1, p, h3{
    color: #3A3A3A;
}


.portfolio-preview{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
}
.project-container{
    margin-bottom: 40px;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    flex-direction: column;
    margin-left: 310px;
}
.project-cards{
    perspective: 1000px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    min-width: 50%;
    height: 300px;
    padding: 30px;
    margin-bottom: 200px;
}   
.project-cards a{
    text-decoration: none;
    color: red;
    font-size: 3rem;
    position: relative;
    top: -340px;
    left: 150px;
}
.project-cards p, h2{
    color: #2c2c2c;
    text-transform: uppercase;
    font-family: 'oldtype', sans-serif;
}
.project-cards img{
    align-self: center;
    width: 100%;
}
.project-cards img:hover{
    filter: drop-shadow(0px 4px 8px rgba(62, 60, 57, 0.6));
}


.backend{
    padding: 40px;
    margin: 10px;
    display: grid;
    width: 80%;
    grid-template-columns: 800px 800px;
}


.frontend{
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 10px;
    margin: 10px;
    display: grid;
    width: 90%;
    grid-template-columns: 700px 700px;
    margin-bottom: 10px;
}



.fullstack{
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 10px;
    margin: 10px;
    display: grid;
    width: 90%;
    grid-template-columns: 700px 700px;
    margin-bottom: 10px;
}
.item-1{
    grid-column-start: 1;
    grid-column-end: 1;
}
.item-2{
    grid-column-start: 2;
    grid-column-end: 2
}

.source-btns{
    display: flex;
}

.content{
    transition: transform 0.6s ease, background-image 0.6s ease;
    backface-visibility: hidden;
}
.front{
    position: absolute;
    display: grid;
    width: 124.6%;
    height: 530px;
    justify-content: center;
    left: -20px;
    top: -20px;
    align-items: center;
    background-image:url(/Images/frontOfPolaroid.png);
    background-size: cover;
    background-position: center;
    transform: rotateY(0deg);
    box-shadow: 0px 4px 8px rgba(62, 60, 57, 0.6);
}
.front img{
    border: 7px solid #E0E0E0;
    position: relative;
    top: 0px;
    left: 16px;
    width: 90%;
}
.front h2{
    position: relative;
    top: 10px;
    left: 20px;
}


.back{
    transform: rotateX(80deg);
    position: absolute;
    display: grid;
    width: 100%;
    height: 430px;
    justify-content: center;
    align-items: center;
    background-image: url(/Images/backOfPolaroid.png);
    background-size: cover;
    background-position: center;
    padding: 50px;
    margin: 10px;
    top: -32px;
    left: -30px;
    box-shadow: 0px 4px 8px rgba(62, 60, 57, 0.6);
    transform: rotateY(180deg);
}
.back p {
    height: 200px;
    position: relative;
    top: 150px;
    width: 100%;
}


.source-btns{ 
    font-weight: bold;
    position: relative;
    top: 130px;
    left: -30px;
    text-decoration: none;
}
.source-btns a{
    margin: 20px;
    font-size: 3rem;
    color: #7a1717;
    transition: all 0.5s ease;
}

.source-btns a:hover{
    padding: 0;
    font-size: 4rem;
    color: maroon;
    transition: all 0.5s ease;
}
.project-cards:hover .front{
    transform: rotateY(-180deg);
}
.project-cards:hover .back{
    transform: rotateY(0deg);
}


@media (min-width: 768px) {
    #mobile{
        display: none;
    }
}
@media (max-width: 768px) {
    .quick-contact{
        display: flex;
    }
    #desktop{
        display: none;
    }
    .home-page{
        justify-content: center;
        align-items: center;
        width: 85%;
        position: static;
        flex-direction: column;
    }
    .aboutme-preview{
        justify-content: center;
        align-items: center;
        width: 75%;
        position: static;
        flex-direction: column;
    }
    .intro-card img{
        order: 1;
        position: relative;
        top: -40px;
        width: 30%;
        height: auto;
        border-radius: 160px;
        border: 10px solid #d2c8b3;
        overflow: hidden;
    }
    .intro-card{
        order: 2;
        font-size: 1rem;
        margin-left: 10px;
        margin-right: 10px;
        width: 70%;
        position: static;
        padding-top: 0px;
    }
    .intro-card h1{
        font-weight: bold;
        font-size: 1.5rem;
    }
    .intro-card p{
        text-align: left;
        font-size: 1rem;
    }
    .aboutme-preview button{
        display: inline;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 0px;
        margin-bottom: 10px;
        padding: 10px 20px;
        font-size: .7rem;
    }
}