.aboutme-page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
    text-align: center;
}

.aboutme-section {
    border: 5px solid #3a3b3c;
    max-width: 800px;
    margin: 20px auto;
    background-color: #5b6651;
    border-radius: 39px;
    padding: 40px 20px;
    text-align: center;
}

.aboutme-section {
    text-align: center;
    color: #e4e1d4;
}
.note {
    font-size: 14px;
    font-style: italic;
    color: #ccc;
}
/* .aboutme-page p{

}

.aboutme-page img{

} */

@media (max-width: 768px) {
    .aboutme-section{
        width: 70%;
        padding: 0;
        margin: 0;
    }
    .aboutme-section p{
        padding: 15px;
        font-size: 12px;
        font-weight: bolder;
    };
}   