.aboutme-page{
    /* align-items */
    justify-content: center;
    width: 100%;
    /* border-radius: 10px;
    border: 5px solid #c5c6c7; */
    padding: 10px 30px;
    text-align: center;
    /* background-color: #936b5c; */
}

.aboutme-section {
    border: 5px solid #3a3b3c;
    max-width: 800px;
    margin: 20px auto;
    background-color: #5b6651;
    border-radius: 39px;
    padding: 40px 20px;
    text-align: center;
}

.aboutme-section {
    text-align: center;
    color: #e4e1d4;
}
.note {
    font-size: 14px;
    font-style: italic;
    color: #ccc;
}
/* .aboutme-page p{

}

.aboutme-page img{

} */